<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="ui center aligned container">
            <form class="ui form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
                <div class="field">
                    <label for="title">菜名</label>
                    <input type="text" name="title" id="title" value="<% if (editing) { %><%= product.title %><% } %>">
                </div>
                <div class="field">
                    <label for="price">金額</label>
                    <input type="number"  min="0" step="1" name="price" id="price" step="0.01" value="<% if (editing) { %><%= product.price %><% } %>">
                </div>
                <div class="field">
                    <label>菜色種類</label>
                    <select class="ui selection dropdown" name="category" >
                        <option value="veg">蔬菜</option>
                        <option value="meat">肉類</option>
                        <option value="fish">魚類</option>
                    </select>
                </div>
                <% if (editing) { %>
                    <input type="hidden" value="<%= product._id %>" name="productId">
                <% } %>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <button class="ui basic button" type="submit"><% if (editing) { %> Update Product <% } else { %>Add Product<% } %></button>
            </form>
        </div>
    </main>
<%- include('../includes/end.ejs') %>