<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (prods.length > 0) { %>
                    <div class="ui container">
                        <% for (let product of prods) { %>
                            <div class="ui clearing segment">
                                <div class="menu-item">
                                    <div class="content">
                                        <h3><%= product.title %> - $<%= product.price %></h3>
                                    </div>
                    
                                    <a href="/admin/edit-product/<%= product._id %>?edit=true" class="ui right floated button">Edit</a>                               
                                    <form action="/admin/delete-product" method="POST">   
                                        <input type="hidden" value="<%= product._id %>" name="productId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                                        <button class="ui right floated button negative" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>